/* Estilos generales */
body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic-container {
  width: 15%; /* Ajuste del tamaño de la imagen */
  height: auto; /* Altura automática para mantener la proporción */
  overflow: hidden;
  border-radius: 50%;
  margin-top: 10%; /* Ajuste del espacio superior */
}

.profile-pic {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.title {
  font-size: 3em; /* Tamaño de fuente relativo */
}

.subtitle {
  font-size: 1.5em; /* Tamaño de fuente relativo */
  color: white;
  margin-top: 1em; /* Ajuste del espacio superior */
}

.btn {
  display: inline-block;
  background-color: black; /* Azul con más transparencia */
  border: 2px solid #808080; /* Borde gris medio */
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Agregar una transición suave */
}

.btn:hover {
  background-color: #333; /* Cambia el color al pasar el mouse */
  animation: pulse 0.5s infinite alternate; /* Añade la animación al pasar el mouse */
}

@keyframes pulse {
  to {
    transform: scale(1.1);
  }
}

.custom-button {
  background-color: black;
  color: white;
  padding: 1em 2em; /* Ajuste del padding */
  border: 2px solid #808080;
  font-size: 1.5vw; /* Tamaño de fuente relativo */
  cursor: pointer;
  border-radius: 0.5em; /* Ajuste del borde redondeado */
  transition: background-color 0.3s ease;
  margin-bottom: 2em; /* Espacio entre el botón y el exploit */
}

.custom-button:hover {
  background-color: #333;
  animation: pulse 0.5s infinite alternate;
}

.exploit-container {
  text-align: center;
  color: white;
}

.divider {
  width: 100%; /* Ancho de la línea */
  height: 1px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  margin-top: 2em; /* Ajuste del espacio superior */
  margin-bottom: 2em; /* Espacio entre la línea y el texto de Arceus */
}


.exploit-title {
  font-size: 1.3vw; /* Tamaño de fuente relativo */
}

.exploit-description {
  font-size: 1vw; /* Tamaño de fuente relativo */
  margin-top: 1em; /* Ajuste del espacio superior */
}

.exploit-image {
  width: 15%; /* Ajusta el tamaño según sea necesario */
  height: auto;
  margin-top: 2em; /* Ajuste del espacio superior */
}

/* Estilos para el menú desplegable */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0; /* Posición en la esquina superior derecha */
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s; /* Transición suave para abrir y cerrar el menú */
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; /* Transición suave para el hover */
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  left: 0px; /* Ajusta la posición del botón de cierre */
  font-size: 36px;
  margin-right: 0px; /* Ajusta el margen derecho para el botón de cierre */
}

/* Estilos para el botón de abrir */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px; /* Posición en la esquina superior derecha */
  z-index: 2;
}

.openbtn:focus {
  outline: none;
}